<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="pagingFragment" th:with="start=${startPage}, last=${endPage}">
	<div class="row">
    	<div class="col-sm-12 col-md-5"></div>
    	<div class="col-sm-12 col-md-7">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
				
					<th:block th:if="${page <= 1 }">
						<li class="page-item"><a class="page-link">Previous</a></li>
					</th:block>
					<th:block th:if="${page > 1 }">
						<li class="page-item"><a class="page-link" th:href="@{${pageUrl}(page=${page - 1})}">Previous</a></li>
					</th:block>
					
					<th:block th:each="pageNum : ${#numbers.sequence(start, last)}">
						<li class="page-item">
							<a class="page-link" th:href="@{${pageUrl}(page=${pageNum})}">[[${pageNum}]]</a>
						</li>
					</th:block>
					
					<th:block th:if="${page < maxPage }">
						<li class="page-item"><a class="page-link" th:href="@{${pageUrl}(page=${page + 1})}">Next</a></li>
					</th:block>
					<th:block th:if="${page >= maxPage }">
						<li class="page-item"><a class="page-link">Next</a></li>
					</th:block>
					
				</ul>
			</nav>
    	</div>
    </div>
</th:block>
</html>