<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="layout/admin/intra/default">
<head>
  	<title>Admin</title>
	<!-- 페이지 css -->
	<th:block layout:fragment="css">
		<style></style>
	</th:block>
	
	<!-- 페이지 js -->
	<th:block layout:fragment="js">
		<script></script>
	</th:block>
</head>

<body>
    <th:block layout:fragment="content" class="content">
    	<!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">공지사항 리스트</h1>
        <div class="row">
        	<div class="col-md-12">
	        	<div class="card">
	        		<div class="card-body">
	        			<div class="row">
	        				<div class="col-sm-12 col-md-6">
	        					<div class="float-left mb-2">
	        						<a href="noticeWrite" class="btn btn-primary">공지사항 등록</a>
	        					</div>
	        				</div>
	        				<div class="col-sm-12 col-md-6">
	        					<div class="float-right mb-2">
	        						Total: [[${count}]]
	        					</div>
	        				</div>
	        			</div>
	        			<div class="row">
	        				<div class="col-sm-12">
			        			<!-- Page 컨텐츠 영역 -->
								<table class="table table-bordered">
									<colgroup>
										<col style="width:80px;" />
										<col />
										<col style="width:150px;"/>
										<col style="width:200px;"/>
										<col style="width:80px;" />
									</colgroup>
									<thead>
										<tr>
											<th>No</th>
											<th>제목</th>
											<th>작성자ID</th>
											<th>등록일</th>
											<th>조회수</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${noticeList != null}">
										<tr th:each="dto ,i: ${noticeList}">
											<th>[[${ ((page - 1) * limit) + i.count }]]</th>
											<td>
												<a th:href="@{noticeView(num=${dto.notNo})}">[[${dto.notSub}]]</a>
											</td>
											<td>[[${dto.empId}]]</td>
											<td>[[${dto.notDate}]]</td>
											<td>[[${dto.notCount}]]</td>
										</tr>
										</th:block>
										<th:block th:if="${noticeList == null}">
											<tr>
												<td colspan="9" class="text-center">등록된 게시글이 없습니다.</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
						
					<!-- 	<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-end">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
						 -->
						
						<th:block th:replace="fragments/admin/includePage :: pagingFragment"></th:block>
						 
						
	        		</div>
	        	</div>
        	</div>
        </div>
    </th:block>
</body>
</html>
