<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="layout/partner/mall/default">
<head>
  	<title>Partner</title>
	<!-- 페이지 css -->
	<th:block layout:fragment="css">
		<style></style>
	</th:block>
	
	<!-- 페이지 js -->
	<th:block layout:fragment="js">
		<script></script>
	</th:block>
</head>

<body>
    <th:block layout:fragment="content" class="content">
    	<!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">상품 리스트</h1>
        <div class="row">
        	<div class="col-md-12">
	        	<div class="card">
	        		<div class="card-body">
	        			<div class="row">
	        				<div class="col-sm-12">
			        			<!-- Page 컨텐츠 영역 -->
								<table class="table table-bordered">
									<colgroup>
										<col style="width:80px;" />
										<col />
										<col />
										<col />
									</colgroup>
									<thead>
										<tr>
											<th>No</th>
											<th>상품번호</th>
											<th>상품명</th>
											<th>상품종류</th>
											<th>등록일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list, i: ${goodsList}">
											<th>[[${i.count}]]</th>
											<td><a th:href="@{goodsView(goodsNo=${list.goodsNo})}">[[${list.goodsNo}]]</a></td>
											<td>[[${list.goodsName}]]</td>
											<td>[[${list.goodsType}]]</td>
											<td><span th:text="${#dates.format(list.goodsRegist,'yyyy-MM-dd')}"></span></td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>		
						
						<th:block th:replace="fragments/admin/includePage :: pagingFragment"></th:block>
						 
	        		</div>
	        	</div>
        	</div>
        </div>
    </th:block>
</body>
</html>
