<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="layout/admin/login">
<head>
  	<title>Admin</title>
	<!-- 페이지 css -->
	<th:block layout:fragment="css">
		<style></style>
	</th:block>
	
	<!-- 페이지 js -->
	<th:block layout:fragment="js">
		<script></script>
	</th:block>
</head>

<body>
    <th:block layout:fragment="content" class="content">
    	<div class="container">
		
		    <!-- Outer Row -->
		    <div class="row justify-content-center">
		
		      <div class="col-xl-6 col-lg-6 col-md-9">
		
		        <div class="card o-hidden border-0 shadow-lg my-5">
		          <div class="card-body p-0">
		            <!-- Nested Row within Card Body -->
		            <div class="row">
		              <div class="col-lg-12">
		                <div class="p-5">
		                  <div class="text-center">
		                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
		                  </div>
		                  <form th:action="@{/login}" class="user" name="frm" id="frm" method="post" th:object="${memberLoginCommand}">
		                    <div class="form-group">
		                      <input type="text" class="form-control form-control-user" th:field="*{userId}" id="userId" aria-describedby="emailHelp" placeholder="id">
	        					<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
		                    	<span th:text="${valid_mem}"></span>
		                    
		                    </div>
		                    <div class="form-group">
		                      <input type="password" th:field="*{userPw}" class="form-control form-control-user"  id="userPw" placeholder="Password">
		                    <span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" ></span>
							<span th:text="${valid_pw}"></span>
		                    
		                    </div>
		                    <div class="form-group">
		                      <div class="custom-control custom-checkbox small">
		                        <input type="checkbox" class="custom-control-input" id="customCheck">
		                        <label class="custom-control-label" for="customCheck">Remember Me</label>
		                      </div>
		                    </div>
		                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
		                    <hr>
		                    <a href="index.html" class="btn btn-google btn-user btn-block">
		                      <i class="fab fa-google fa-fw"></i> Login with Google
		                    </a>
		                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
		                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
		                    </a>
		                  </form>
		                  <hr>
		                  <div class="text-center">
		                    <a class="small" href="forgot-password.html">Forgot Password?</a>
		                  </div>
		                  <div class="text-center">
		                    <a class="small" href="register.html">Create an Account!</a>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		
		      </div>
		
		    </div>
		
		  </div>
    </th:block>
</body>
</html>
