<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="layout/admin/course/default">
<head>
  	<title>Admin</title>
	<!-- 페이지 css -->
	<th:block layout:fragment="css">
		<style></style>
	</th:block>
	
	<!-- 페이지 js -->
	<th:block layout:fragment="js">
		<script></script>
	</th:block>
</head>

<body>
    <th:block layout:fragment="content" class="content">
    	<!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">업체 수정</h1>
        <div class="row">
        	<div class="col-md-12">
	        	<div class="card">
	        		<div class="card-body">
	        			<!-- Page 컨텐츠 영역 -->
	        			<form th:action="@{partnerModifyPro}" method="post" th:object="${partnerCommand}">
	        				<input type="hidden" name="venId" th:value="${partnerCommand.venId}" />
	        				<div class="form-group row">
	        					<label for="venId" class="col-sm-2 col-form-label">
	        						아이디
	        					</label>
	        					<div class="col-sm-10">
	        						<p class="form-control-plaintext" th:text="${partnerCommand.venId}"></p>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venPass" class="col-sm-2 col-form-label">
	        						비밀번호
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="password" name="venPass" class="form-control" id="venPass" th:field="*{venPass}">
	        						<span th:if="${#fields.hasErrors('venPass')}" th:errors="*{venPass}"></span>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venName" class="col-sm-2 col-form-label">
	        						상호
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venName" class="form-control" id="venName" th:field="*{venName}">
	        						<span th:if="${#fields.hasErrors('venName')}" th:errors="*{venName}"></span>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venTel" class="col-sm-2 col-form-label">
	        						전화번호
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venTel" class="form-control" id="venTel" th:field="*{venTel}" maxlength="13">
	        						<span th:if="${#fields.hasErrors('venTel')}" th:errors="*{venTel}"></span>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venNo" class="col-sm-2 col-form-label">
	        						사업자번호
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venNo" class="form-control" id="venNo" th:field="*{venNo}">
	        						<span th:if="${#fields.hasErrors('venNo')}" th:errors="*{venNo}"></span>
	        					</div>
	        				</div>	        					        				
	        				<div class="form-group row">
	        					<label for="venAddr" class="col-sm-2 col-form-label">
	        						주소
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venAddr" class="form-control" id="venAddr" th:field="*{venAddr}">
	        						<span th:if="${#fields.hasErrors('venAddr')}" th:errors="*{venAddr}"></span>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venCeo" class="col-sm-2 col-form-label">
	        						대표자명
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venCeo" class="form-control" id="venCeo" th:field="*{venCeo}">
	        						<span th:if="${#fields.hasErrors('venCeo')}" th:errors="*{venCeo}"></span>
	        					</div>
	        				</div>	 
	        				<div class="form-group row">
	        					<label for="venCdate" class="col-sm-2 col-form-label">
	        						계약일
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="date" name="venCdate" class="form-control" id="venCdate" th:field="*{venCdate}">
	        						<span th:if="${#fields.hasErrors('venCdate')}" th:text="'계약일을 선택해주세요'"></span>
	        					</div>
	        				</div>	        				       					        				
	        			   <div class="form-group row">
	        					<label for="venAcnt" class="col-sm-2 col-form-label">
	        						계좌은행
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venAcnt" class="form-control" id="venAcnt" th:field="*{venAcnt}">
	        						<span th:if="${#fields.hasErrors('venAcnt')}" th:errors="*{venAcnt}"></span>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venAcntNo" class="col-sm-2 col-form-label">
	        						계좌번호
	        					</label>
	        					<div class="col-sm-10">
	        						<input type="text" name="venAcntNo" class="form-control" id="venAcntNo" th:field="*{venAcntNo}">
	        						<span th:if="${#fields.hasErrors('venAcntNo')}" th:errors="*{venAcntNo}"></span>
	        					</div>
	        				</div>
	        				<div class="form-group row">
	        					<label for="venAcntNo" class="col-sm-2 col-form-label">
	        						타입
	        					</label>
	        					<div class="col-sm-10">
	        						<select name="venType" class="form-control">
	        							<option value="데이트 코스">데이트 코스</option>
	        							<option value="쇼핑몰">쇼핑몰</option>
	        						</select>
	        					</div>
	        				</div>
	        				
	        				<div class="btn-group float-sm-right">
	        					<button type="submit" class="btn btn-primary">확인</button>
	        				</div>
	        			</form>
	        		</div>
	        	</div>
        	</div>
        </div>
    </th:block>
</body>
</html>
