<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="app.admin.intra.mapper.IntraAnswerMapper">
      
  <sql id="baseColumns">
  EMP_ID,
  ANS_CONT,
  ASK_NO,
  CREATE_AT
  </sql>
  
  <insert id="insertAnswer" parameterType="app.admin.intra.domain.IntraAnswerDTO">
  insert into ANSWER(<include refid="baseColumns"/>)
  values(
  	#{empId},
  	#{ansCont},
  	#{askNo},
  	sysDate
  )
    </insert>
  
  
  
  </mapper>