<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="layout/admin/login">
<head>
  	<title>Admin</title>
	<!-- 페이지 css -->
	<th:block layout:fragment="css">
		<style></style>
	</th:block>
	
	<!-- 페이지 js -->
	<th:block layout:fragment="js">
		<script></script>
	</th:block>
</head>

<body>
    <th:block layout:fragment="content" class="content">
    	<div class="container">
    	
	    	<!-- Outer Row -->
		    <div class="row justify-content-center">
		
		      <div class="col-xl-6 col-lg-6 col-md-9" style="max-width:600px;">
		
		        <div class="card o-hidden border-0 shadow-lg my-5">
		          <div class="card-body p-0">
		            <!-- Nested Row within Card Body -->
		            <div class="row">
		              <div class="col-lg-12">
		                <div class="p-5">
		                  <div class="text-center">
		                    <h1 class="h4 text-gray-900 mb-2">비밀번호 변경</h1>
		                  </div>
		                  <form action="findPassword" method="post" th:object="${changePwCommand}">
		                    <div class="form-group">
		                      <input type="text" name="userId" class="form-control form-control-user" th:field="*{userId}" placeholder="ID" maxlength="12">
		                      <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
		                      <div class="d-block invalid-feedback" th:if="${valid_Id != null}" th:text="${valid_Id}"></div>
		                    </div>
		                    <div class="form-group">
		                      <input type="text" name="userName" class="form-control form-control-user" th:field="*{userName}" placeholder="Name">
		                      <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
		                      <div class="d-block invalid-feedback" th:if="${valid_Name != null}" th:text="${valid_Name}"></div>
		                    </div>
		                    <div class="form-group">
		                      <input type="text" name="userEmail" class="form-control form-control-user" th:field="*{userEmail}" placeholder="Eamil">
		                      <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></div>
		                      <div class="d-block invalid-feedback" th:if="${valid_Email != null}" th:text="${valid_Email}"></div>
		                    </div>
		                    <div class="form-group">
		                      <input type="password" name="newPw" class="form-control form-control-user" th:field="*{newPw}" placeholder="Change Password">
		                      <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('newPw')}" th:errors="*{newPw}"></div>
		                    </div>
		                    <div class="form-group">
		                      <input type="password" name="newPwCon" class="form-control form-control-user" th:field="*{newPwCon}" placeholder="Change Password Confirm">
		                      <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('newPwCon')}" th:errors="*{newPwCon}"></div>
		                      <div class="d-block invalid-feedback" th:if="${valid_reNewPw != null}" th:text="${valid_reNewPw}"></div>
		                    </div>
		                    <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
		                  </form>
		                  <hr>
		                  <div class="text-center">
		                    <a class="small" href="findId">Forgot ID?</a>
		                  </div>
		                  <div class="text-center">
		                    <a class="small" href="login">Already have an account? Login!</a>
		                  </div>
		                  <!-- 
		                  <div class="text-center">
		                    <a class="small" href="register">Create an Account!</a>
		                  </div>
		                   -->
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		
		      </div>
		
		    </div>
		
		 </div>
    </th:block>
</body>
</html>
